<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOnAXeFaNDRcC9yhdutMn-vvWgAmd3Y4s</string>
	<key>GCM_SENDER_ID</key>
	<string>132329117325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uberCloneDemo</string>
	<key>PROJECT_ID</key>
	<string>uber-clone-demo-62902</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-clone-demo-62902.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132329117325:ios:22afd6199a0c9528a1b4c4</string>
</dict>
</plist>